.aboutme {
  padding-bottom: 8em;
  padding-top: 5em;
  padding-left: 1em;
  padding-right: 1em;
}

.spaced {
  margin-bottom: 3em;
  
}

.spaced-top {
  margin-top: 2em;
  margin-bottom: 3em;

}

.aboutfont {
 font-size: 1.2em;
}

.headerspaced {
  margin-bottom: 2em;
}