.App {
  text-align: center;
  font-family: 'Montserrat',
  sans-serif;
  background-color:#E8E8E8;
  color: #343a40;
}

.navfont {
  color:#C6216D !important;
  margin-left: 1em;
}

.navfont:hover {
  color: white !important;
  margin-left: 1em;
}

.forfont{
  font-size: 1.2em;
  font-weight: bold;
}

.navbar .nav>li>a {
  float: none;
  line-height: 19px;
  padding: 9px 10px 11px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ddd;
}

.pink {
  color:#C6216D !important;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 20%;
  margin-left:auto;
  margin-right:auto;

}