.main {
 width: 50%;
 margin: auto;
 padding-top: 2em;
}

.header {
  margin-bottom: 1em;
}

.images {
  /* margin-bottom: 1.5em; */
}
.slider {
  margin-bottom: 3em;
}

.description {
  margin-top: 0.5em;
}

a.menu_links {
  cursor: pointer;
}