.main {
 width: 100%;
 margin: auto;
 padding-top: 2em;
 background-color: #343a40;
 color: #F7F7FF;
}

.header {
  margin-bottom: 1em;
}

.images {
  /* margin-bottom: 1.5em; */
}
.slider {
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 3em;

}

.description {
  margin-top: 0.5em;
}

.tester {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    z-index: 100;
    cursor: pointer;
}
