.techstack {
  padding-bottom: 8em;
  padding-top: 5em;
}

.stack-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-header {
  margin-bottom: 2em;

}

.header {
  margin-bottom: 1em;
}

